.period {
  position: absolute;
  height: var(--milestone-marker-size);
}

.period svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.period svg line {
  stroke: var(--main-color);
  stroke-width: calc(var(--milestone-marker-size) / 3);
}
