.period {
  position: absolute;
  height: var(--milestone-marker-size);
}

.period .line {
  position: absolute;
  top: calc(var(--milestone-marker-size) / 3);
  height: calc(var(--milestone-marker-size) / 3);
  background-color: var(--main-color);
}
