.period {
  position: relative;
  height: 0.5rem;
}

.period svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.period svg line {
  stroke: var(--main-color);
  stroke-width: 2px;
}
