.milestone {
  position: absolute;
  width: var(--milestone-marker-size);
  height: var(--milestone-marker-size);
  background-color: var(--main-color);
  border-radius: calc(var(--milestone-marker-size) / 2);
  transform: translateX(calc(var(--milestone-marker-size) / -2));
}
